@import "colors";
@import "mixin";

body {
  .container-container {
    .form {
      position: absolute;
    }
  }
}

body.register {
  .img-container {
    width: 25vw !important;
    .bottom {
      opacity: 0;
    }
  }
  .form {
    width: 75vw !important;
  }
  #register-form {
    form {
      width: 450px !important;
    }
    .input-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      input {
        width: 200px;
      }
    }
  }
}

body.index {
  .container {
    height: 100vh;
    display: flex;
  }
  .img-container {
    width: 45vw;
    background-image: url("../img/roses.jpg");
    background-size: cover;
    background-position: center;
    .content-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .logo-container {
      padding: 50px 80px;
      height: 100px;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
      );
      img {
        width: 120px;
      }
    }
    .bottom {
      height: 30vh;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8)
      );
      padding: 0 80px;
      display: grid;
      grid-template-rows: repeat(2, max-content);
      align-content: center;
      justify-content: center;
      row-gap: 20px;
      color: white;
      #quote {
        color: #fafafa;
        transition: 0.1s ease-out;
      }
      #author {
        justify-self: flex-end;
        color: #f8f8f8;
        transition: 0.4s ease-out;
      }
      #quote,
      #author {
        opacity: 0;
      }
    }
  }
  #register-form {
    opacity: 0;
    z-index: -1;
  }
  .form {
    height: 100%;
    transform: translateY(-5%);
    width: 55vw;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    align-content: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.1s ease-out;
    img {
      width: 400px;
      margin-bottom: 60px;
    }
    .heading {
      margin-bottom: 60px;
      .heading-txt {
        font-weight: 600 !important;
      }
      .subheading {
        margin-top: 10px;
        color: #888;
        font-size: 15px;
      }
    }
    form {
      width: 400px;
      display: flex;
      flex-direction: column;
      .row-container {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span,
        a {
          font-size: 14px;
          font-weight: 500;
        }
        span {
          color: #444;
        }
        a {
          color: #1b6fad;
        }
      }
      label {
        font-weight: 500;
      }
      input {
        margin-left: -2px;
        margin-bottom: 28px;
        padding: 12px 8px;
        background: #f5f6f8;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        transition: 0.2s ease-out;
        &:hover {
          background: #f2f2f2;
        }
        &:focus {
          background: #ebebeb;
        }
      }
    }
    button {
      width: max-content;
      padding: 10px 24px;
      background: $red;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      color: white;
    }
  }
}
