@import "colors";
@import "mixin";

.container {
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.inti-logo {
  width: 350px;
}

.title-container {
  .banner {
    padding: 2px 6px;
    float: right;
    @include red();
    @include poppins;
    font-size: 10px;
    font-weight: 600;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  label {
    color: #444;
  }
  input {
    height: 40px;
    width: 250px;
    background: #eee;
    border: none;
    border-radius: 8px;
  }
  button {
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include red();
    border: none;
    border-radius: 8px;
    font-size: 14px;
  }
}

.forgot-pw {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    border-bottom: 1px solid #aaa;
  }
}

.copyright {
  font-size: 14px;
}
