.request-details {
  padding-bottom: 16px !important;
  display: grid !important;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, max-content);
  column-gap: 60px;
  row-gap: 12px !important;
  label {
    color: #666;
    font-size: 15px;
  }
  input {
    width: 100px;
    border: none;
    padding: 0;
  }
}

.subjects {
  max-width: 650px;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  .request-subject {
    width: max-content !important;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    padding-bottom: 10px !important;
    label {
      color: #666;
      font-size: 15px;
    }
    span {
      margin-bottom: 8px;
    }
  }
}
