.request-details {
  margin-bottom: 36px !important;
  padding-bottom: 16px !important;
  display: grid !important;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, 17.27px);
  justify-content: space-between;
  row-gap: 12px !important;
  label {
    color: #666;
    font-size: 15px;
  }
  input {
    width: 100px;
    border: none;
    padding: 0;
  }
}

.tag-container {
  display: flex;
  flex-direction: column;
  &:hover {
    .hide-tag {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.request-tag {
  padding: 4px 10px;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  transition: 0.1s ease-out;
  z-index: 2;
  &.hide-tag {
    margin: 8px 0px;
    transform: translateY(-30px);
    z-index: 1 !important;
    opacity: 0;
    cursor: pointer;
    &.cancel-tag:hover {
      background: #ffcdd2;
      color: #d32f2f;
    }
  }
  &.approve-tag {
    // background: 50
    // color: 600
    // color: 500
    background: #e3f2fd;
    color: #1e88e5;
    cursor: pointer;
    .fas {
      color: #2196f3;
    }
    &:hover,
    &:focus {
      background: #bbdefb;
      color: #1565c0;
      .fas {
        color: #1976d2;
      }
    }
  }
  &.completed-tag {
    background: #e8f5e9;
    color: #388e3c;
  }
  &.cancel-tag {
    background: #ffebee;
    color: #e53935;
  }
  .fa-circle {
    margin-top: 2px;
    font-size: 5px;
  }
  .fa-check {
    font-size: 8px;
  }
  .fa-times {
    font-size: 10px;
  }
}

.subjects {
  max-width: 650px;
  margin: unset !important;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  .request-subject {
    width: max-content !important;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    padding-bottom: 10px !important;
    label {
      color: #666;
      font-size: 15px;
    }
    span {
      margin-bottom: 8px;
    }
  }
}
