.value-list {
  position: absolute;
}

.chosen-value {
  &::-webkit-input-placeholder {
    color: #333;
  }

  &:hover {
    cursor: pointer;

    &::-webkit-input-placeholder {
      color: #333;
    }
  }

  &:focus,
  &.open {
    &::-webkit-input-placeholder {
      color: #000;
    }
  }
}

.value-list {
  width: inherit;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  transition: 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  z-index: -99;
  opacity: 0;
  &.open {
    z-index: inherit;
    opacity: 1;
  }

  .value {
    margin: 0 !important;
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
    font-size: 15px;
    cursor: pointer;
    transition: unset;
    opacity: 1;
    &:hover {
      background: #f3f3f3;
    }
    &.closed {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
    }
  }
}

// customize
.value-list.prog-list {
  top: 260px;
  z-index: 3;
}
.value-list.sess-list {
  top: 340px;
  z-index: 2;
}
.value-list.sub-list {
  top: 424px;
  z-index: 1;
}
