@media only screen and (max-width: 768px) {
  nav {
    .nav-back,
    .nav-username {
      span {
        display: none;
      }
    }
    .nav-back,
    .nav-user {
      width: 50px;
    }
    .nav-back {
      left: 20px;
    }
    .nav-user {
      right: 20px;
      i.fa-user {
        display: block;
      }
      .fa-caret-down {
        display: none;
      }
      .user-dropdown {
        margin: 220px 0 0 -140px;
      }
    }
  }
  .container {
    margin: 50px 0 0 0 !important;
    padding: 0 0 100px 0;
    flex-direction: column;
    align-items: center;
  }

  .card.request {
    width: 250px;
    padding: 24px 32px 28px 32px;
  }
  a.view-request,
  button {
    background: #f2f2f2 !important;
    opacity: 1 !important;
    i {
      font-size: 14px !important;
    }
    &:focus,
    &:focus-within {
      background: #eee !important;
    }
  }
}
