@import "dropdown";

.container.request-form {
  row-gap: 20px;
  .button-row {
    padding: 0 12px;
    align-self: flex-start;
    button {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      align-items: center;
      column-gap: 8px;
    }
  }
}

.request-form .card {
  padding-right: 32px;
}

.button-row {
  height: max-content;
  display: flex;
  justify-content: space-between;
  button {
    &.active i,
    &.active span {
      color: #222;
    }
    i,
    span {
      color: #aaa;
    }
    i {
      font-size: 14px;
      font-weight: 400;
    }
    span {
      font-size: 15px;
    }
  }
  .done-btn {
    pointer-events: none;
    transition: 0.1s ease-out;
    .count-div {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
      border-radius: 50%;
      opacity: 0;
      transition: 0.20s ease-out;
      span {
        font-size: 10px;
        font-weight: 500;
        @include roboto;
      }
    }
  }
}
