@import "../mixin";
@import "../colors";
@import "nav";
@import "home";
@import "cards";
@import "request-view";
@import "new-request";
@import "mobile";
@import "fab";
@import "scroll-to-top";
@import "dropdown";

body {
  // height: 100vh;
}

body,
nav {
  transition: 0.1 ease-out;
}

.section {
  opacity: 0;
}

.container {
  min-height: calc(100vh - 70px - 100px - 10vh);
  margin-top: calc(70px + 40px);
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 50px;
  row-gap: 40px;
  &.center {
    margin-top: 70px !important;
    margin-bottom: 40px;
    align-content: center;
  }

  &.row {
    grid-template-rows: min-content;
    grid-template-columns: unset;
    justify-content: center;
  }

  .heading {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  // body.dark {
  //   background: black;

  //   .loading-screen {
  //     background: black;
  //   }
  // }
}

.loading-screen {
  height: calc(100% - 70px - 5vh);
}
