@font-face {
  font-family: Europa;
  src: url("/fonts/europa.woff");
}

@font-face {
  font-family: Europa;
  src: url("/fonts/europa.woff");
}

nav {
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0px;
}

nav a,
nav label {
  font-family: "Poppins", sans-serif;
}

nav .nav-back,
nav .nav-user {
  height: 70px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  position: absolute;
}

nav .nav-back {
  left: 150px;
}

nav .nav-back i {
  font-size: 14px;
  font-weight: 600;
}

nav .nav-user {
  right: 150px;
}

nav .nav-user:hover .user-dropdown,
nav .nav-user:focus-within .user-dropdown {
  animation: slide-down 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 1;
  z-index: 1;
}

nav .nav-user i.fa-user-circle {
  display: none;
  color: #222;
  font-size: 20px;
}

nav .nav-user .user-dropdown {
  width: max-content;
  margin: 220px 0 0 -70px;
  padding: 12px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 8px;
  opacity: 0;
  z-index: -1;
  animation: slide-up 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: 0.1s ease-out;
}

nav .nav-user .user-dropdown label {
  padding: 2px 4px;
  font-size: 14px;
  color: #888;
}

nav .nav-user .user-dropdown a,
nav .nav-user .user-dropdown button {
  padding: 4px 4px;
  border-radius: 4px;
}

nav .nav-user .user-dropdown a:active, nav .nav-user .user-dropdown a:focus,
nav .nav-user .user-dropdown button:active,
nav .nav-user .user-dropdown button:focus {
  background: #f2f2f2;
}

nav .nav-user .user-dropdown hr {
  height: 1px;
  margin: 6px 0;
  background: #ddd;
  border: none;
}

nav .nav-user .user-dropdown i.fad {
  width: 20px;
  margin: 0 8px;
  font-size: 16px;
  transition: 0.3s ease-out !important;
  transform: translateY(6px);
  opacity: 0;
}

nav .nav-user .user-dropdown i.fad.shown {
  transform: translateY(0px);
  opacity: 1;
}

nav .nav-user .user-dropdown i.fad.fa-sun {
  --fa-primary-color: #ffc24d;
  --fa-secondary-color: orange;
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 1;
}

nav .nav-user .user-dropdown i.fad.fa-moon-cloud {
  --fa-primary-color: #363548;
  --fa-secondary-color: #f9d35f;
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 1;
}

nav .logo {
  display: flex;
}

nav .logo,
nav img {
  width: 100px;
}

nav img {
  pointer-events: none;
}

@keyframes slide-down {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

.container .button.card {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  animation: scale-down-center 0.1s ease-in both;
}

.container .button.card i {
  font-size: 28px;
  font-weight: 300;
}

.container .button.card:hover, .container .button.card:focus {
  animation: scale-up-center 0.1s ease-out both;
}

.container .button.card:focus {
  border-color: #888;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heading {
  margin-bottom: 28px;
}

.heading h2 {
  font-size: 20px;
}

.card {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 24px 16px;
  border: 1px solid #dadada;
  border-radius: 16px;
  text-align: left;
}

.card .col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .col a.view-request {
  height: 35px;
  width: 35px;
  margin-top: -10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.card .col a.view-request i {
  font-size: 0px;
  transition: 0.2s ease-out;
}

.card a.view-request,
.card button {
  background: #eee;
  color: #222;
  border: 1px solid #f8f8f8;
}

.card a.view-request span,
.card button span {
  font-size: 14px;
}

.card a.view-request:hover,
.card button:hover {
  background: #eee;
  border-color: #ccc;
}

.card a.view-request:focus,
.card button:focus {
  background: #fdf0f0;
  border-color: #f9ced0;
}

.card:hover a.view-request,
.card:focus-within a.view-request {
  opacity: 1;
}

.card:hover a.view-request i,
.card:focus-within a.view-request i {
  font-size: 14px;
}

.card button {
  margin-bottom: 10px;
  padding: 6px 12px;
  border-radius: 8px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.card.request {
  padding: 24px 32px 16px 32px;
}

.card.request {
  min-height: 200px;
  width: 250px;
  justify-content: unset;
  align-items: unset;
}

.card.request:focus-within {
  border-color: #f9ced0;
}

.card.request label {
  color: #888;
  margin-bottom: 8px;
}

.card.request input {
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.15s ease-out;
}

.card.request input:hover {
  border-color: #fdf0f0;
}

.card.request input:focus {
  border-color: #e20c18;
}

.card.request p {
  margin-bottom: 16px;
}

.payment {
  padding: 12px 36px 0 36px;
  display: flex;
  flex-direction: column;
}

.payment .heading {
  margin-bottom: 10px;
}

.payment .card {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 24px;
  row-gap: 20px;
}

.payment .card .payment-info {
  display: grid;
  grid-template-columns: 70px 1fr auto;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
}

.payment .card .payment-info p {
  font-family: "Poppins", sans-serif;
  cursor: text;
}

.payment .card .payment-info a i:hover,
.payment .card .payment-info a:focus-within i {
  color: #e20c18;
}

.payment .card .payment-info a i {
  color: #888;
  font-weight: 400;
  margin: 0 8px;
}

.payment .receipt-input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px dashed #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.payment .receipt-input:hover, .payment .receipt-input:focus-within {
  border: 2px dashed #e20c18;
  background: #fdf0f0;
}

.payment .receipt-input span {
  font-family: "Poppins", sans-serif;
}

.payment input[type="file"] {
  position: absolute;
  height: 0px;
  width: 0px;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  nav .nav-back span,
  nav .nav-username span {
    display: none;
  }
  nav .nav-back,
  nav .nav-user {
    width: 50px;
  }
  nav .nav-back {
    left: 20px;
  }
  nav .nav-user {
    right: 20px;
  }
  nav .nav-user i.fa-user-circle {
    display: block;
  }
  nav .nav-user .fa-caret-down {
    display: none;
  }
  nav .nav-user .user-dropdown {
    margin: 220px 0 0 -140px;
  }
  .container {
    margin-top: calc(71px + 30px) !important;
    padding: 0 0 100px 0;
    flex-direction: column;
    align-items: center;
  }
  .card a.view-request,
  .card button {
    background: #f2f2f2 !important;
    opacity: 1 !important;
  }
  .card a.view-request i,
  .card button i {
    font-size: 14px !important;
  }
  .card a.view-request:focus, .card a.view-request:focus-within,
  .card button:focus,
  .card button:focus-within {
    background: #eee !important;
  }
  .card.request {
    padding: 28px 28px 20px 28px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
}

.fab-container .fab {
  width: 48px;
  padding: 12px;
  display: flex;
  align-items: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: dodgerblue;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: 0.25s ease-out;
}

.fab-container .fab span {
  margin-left: 12px;
  color: white;
  z-index: -1;
  opacity: 0;
}

.fab-container .fab.expanded {
  padding: 12px 136px 12px 16px;
  border-radius: 12px;
}

.fab-container .fab.expanded span {
  z-index: 1;
  opacity: 1;
}

.fab-container .fab i {
  color: white;
  font-size: 24px;
}

.fab-container .fab-actions {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: fixed;
  right: 40px;
  bottom: 110px;
  transform: translateY(50px);
  z-index: -1;
  opacity: 0;
  transition: 0.15s ease-out;
}

.fab-container .fab-actions.shown {
  transform: translateY(0px);
  z-index: 1;
  opacity: 1;
}

.fab-container .fab-actions.shown button span {
  color: black !important;
}

.fab-container .fab-actions button {
  width: max-content;
  align-self: flex-end;
  padding: 8px 16px;
  border-radius: 16px 16px 6px 16px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.fab-container .fab-actions button span {
  font-size: 15px;
  color: white;
}

body {
  height: 100vh;
}

body,
nav {
  transition: 0.1 ease-out;
}

.section {
  opacity: 0;
}

.container {
  min-height: calc(100% - 81px - 100px - 10vh);
  margin-top: calc(71px + 40px);
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 40px;
}

.container.center {
  min-height: 70vh;
  align-items: center;
}

.container.row {
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}

.container.form label {
  margin-bottom: 12px;
}

.container .heading {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }
  .loading-screen {
    background: black;
  }
}

.loading-screen {
  height: calc(100% - 81px - 5vh);
}
/*# sourceMappingURL=student.css.map */