@import "../mixin";
@import "../colors";
@import "nav";
@import "home";
@import "cards";
@import "request-view";
@import "mobile";

body {
  height: 100vh;
}

body,
nav {
  transition: 0.1 ease-out;
}

.section {
  opacity: 0;
}

.container {
  min-height: calc(100% - 81px - 100px - 10vh);
  margin-top: 40px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 40px;

  &.center {
    min-height: 70vh;
    align-items: center;
  }

  &.row {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  &.form {
    label {
      margin-bottom: 12px;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }

  .loading-screen {
    background: black;
  }
}

.loading-screen {
  height: calc(100% - 81px - 5vh);
}
