@import "../mixin";
@import "../colors";
@import "nav";
@import "home";
@import "requests";
@import "payment";

.container {
  min-height: calc(80vh - 120px);
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  &.home {
    row-gap: 50px;
  }
}

h2,
h3,
h4 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

li {
  font-size: 18px;
}

.std-btn {
  width: max-content;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background: #f8f8f8;
  color: #222;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background: #eee;
    color: #000;
    i {
      color: #666;
    }
  }
  &:focus {
    color: #000;
    border: 1px solid #aaa;
    i {
      color: #222;
    }
  }
  span {
    font-size: 14px;
    @include poppins;
  }
  i {
    color: #888;
    font-size: 12px;
  }
}

.your-requests {
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  h4 {
    width: max-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $red;
    font-size: 18px;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  li {
    list-style: none;
    span {
      margin-left: 30px;
      color: #666;
      font-size: 16px;
      &:before {
        font-size: 20px;
        content: "\2022";
        position: absolute;
        margin-left: -20px;
        color: $red;
      }
    }
  }
  a {
    margin-top: 10px;
    align-self: flex-end;
  }
}
